---
import { getCollection } from "astro:content";

import BaseLayout from "@/layouts/BaseLayout.astro";
import { Hero } from "@/components/Hero";
import { PostList } from "@/components/PostList";
import { PostListHeader } from "@/components/PostList/Header";
import { faBook } from "@fortawesome/free-solid-svg-icons";

const articles = await getCollection("article");

const showNum = 6;
const card_info = articles
  .map((article) => ({
    ...article.data,
    slug: article.slug,
  }))
  .sort((a, b) => (a.createdAt < b.createdAt ? 1 : -1))
  .slice(0, showNum);
---

<BaseLayout>
  <Hero author="tunamaguro" />
  <PostList cards={card_info}>
    <PostListHeader icon={faBook}>Blog</PostListHeader>
  </PostList>
  <div class="py-4 px-4 flex justify-center">
    <button class="btn btn-primary">
      <a href="/articles">記事一覧</a></button
    >
  </div>
</BaseLayout>
