---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Hero } from "@/components/Hero";
import { PostList } from "@/components/PostList";
import { PostListHeader } from "@/components/PostList/Header";
import { getArticles } from "@/utils/getArticles";
import MaguroImage from "@/assets/maguro.png";
import { Picture } from "astro:assets";

const articles = await getArticles();

const showNum = 6;
const card_info = articles
  .map((article) => ({
    ...article.data,
    slug: article.slug,
  }))
  .sort((a, b) => (a.createdAt < b.createdAt ? 1 : -1))
  .slice(0, showNum);
---

<BaseLayout>
  <Hero author="tunamaguro" >
    <Picture
      src={MaguroImage}
      formats={["avif", "webp"]}
      alt="tunamaguro icon"
    />
  </Hero>
  <PostList cards={card_info}>
    <PostListHeader>Blog</PostListHeader>
  </PostList>
  <div class="py-4 px-4 flex justify-center">
    <button class="btn btn-primary"> <a href="/articles">記事一覧</a></button>
  </div>
</BaseLayout>
