---
import { Layout } from "@/components/Layout";
import Seo from "@/components/Seo/index.astro";

interface Props {
  title?: string;
  description?: string;
}

const { description, title } = Astro.props;

const siteTitle = "tunamaguro's blog";
const author = "tunamaguro";
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <Seo title={title} description={description} />
  </head>
  <body>
    <Layout siteTitle={siteTitle} author={author}>
      <slot />
    </Layout>
  </body>
</html>
