---
import { Layout } from "./Layout";
import Seo from "./Seo/index.astro";
---

<Layout siteTitle="tunamaguro's blog" author="tunamaguro">
  <Seo />
  <h1><slot /></h1>
</Layout>

<style style="scss">
  h1 {
    color: red;
  }
</style>
