---
import { Footer } from "./Footer";
import { Header } from "./Header";
---

<Header siteTitle="aaaa" />
<h1><slot /></h1>
<Footer author="aaa" />

<style style="scss">
  h1 {
    color: red;
  }
</style>
