name: CI Test
on: 
  pull_request:
  workflow_call:

permissions: 
  contents: read

jobs:
  format:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: app
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: 10
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 22
          cache: "pnpm"
          cache-dependency-path: app/pnpm-lock.yaml
      - name: Install Dependency
        run: pnpm install --frozen-lockfile
      - name: format
        run: pnpm run format --check
  can_build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: app
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: 10
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 22
          cache: "pnpm"
          cache-dependency-path: app/pnpm-lock.yaml
      - name: Install Dependency
        run: pnpm install --frozen-lockfile
      - name: Astro Build
        run: pnpm run build
      - name: typecheck
        run: pnpm run typecheck