name: Deploy Clowdflare Pages
on: [push]

permissions: 
  contents: read
  deployments: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: app
    if: github.actor == github.repository_owner
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: 10
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 22
          cache: "pnpm"
          cache-dependency-path: app/pnpm-lock.yaml
      - name: Install Dependency
        run: pnpm install --frozen-lockfile

      - name: Astro Build
        run: pnpm run build

      - name: Deploy Cloudflare Pages
        id: cloudflare_pages_deploy
        uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3.14.1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ID }}
          command: pages deploy app/dist --project-name=blog
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
